@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #939597;
}

::-webkit-scrollbar-thumb {
  background-color: #cf5c78;
}
.snap-container {
  height: 100vh; /* Set a fixed height for the container */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable snap scrolling on the y-axis */
  scroll-behavior: smooth;
}

.snap-item {
  scroll-snap-align: start; /* Snap to the start of each item */
}
